.personal_item {
    position: relative;
    
    left: 0;

    &--first {
        top: 0;
    }
    &--second {
        top: -10px;
    }
    &--third {
        top: -20px;
    }
    &--four {
        top: -30px;
    }
    &--five {
        top: -40px;
    }
}
.personal_input {
    position: relative;
    top: -5px;
    left: 0;
}
.personal_passport {
    position: relative;
    left: 0;
    top: -50px;
}